{
  "singleQuote": false,
  "trailingComma": "all",
  "eslint.autoFixOnSave": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  }
}
